/* Normalize */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* Variables */
:root {
    --color-link: #263238;
    --color-p: #8F95A5;
    --color-grid: #F5F5F5;
    --color-pay: #EEE;
}
/* Overall Width */
.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}
/* Header */
header {
    background-color: #fff;
    margin: 0 auto;
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0px;
    z-index: 2;
}
.header__nav {
    padding: 51px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 518px;
}
.header__nav-grid-a {
    color: var(--color-link);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}
.header__nav-grid-a :hover {
    background-color: #ed0000;
}
.header__nav-button {
    width: 220px;
    height: 70px;
    background-color: #fff;
    border: 1px solid var(--color-link);
    border-radius: 3px; 
    cursor: pointer;
}
.header__nav-button :hover {
    background-color: var(--color-link);
    color: #fff;
}
.button {
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
@media screen and (max-width: 1360px) {

}
/* Home */
.home {
    padding-top: 178px;
}
.home__flex {
    display: flex;
    align-items: center;
}
.hime__flex-item {
    width: 560px;
}
.home__flex-flex {
    display: flex;
    align-items: center;
}
.home__flex-flex-h {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 40px;
}
.home__flex-flex-img {
    padding: 28px 17px 0 0;
}
.home__flex-p {
    color: var(--color-p);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 61px;
}
.home__flex-button {
    width: 438px;
    height: 118px;
    background-color: var(--color-link);
    border-radius: 15px;
    cursor: pointer;
}
.home__flex-button-h {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
}
.home__flex-img {
    padding-left: 119px;
}

@media screen and (max-width: 1360px) {

}
/* Scills */
.skills-h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000;
    text-align: center;
    margin-top: 100px;
}
.home__grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 18px;
    margin-top: 96px;
    max-width: 1320px;
    width: 100%;
}
.home__grid-item {
    background-color: var(--color-grid);
}
.item-1 {
    grid-row: 1 / 3;
    min-height: 894px;
    height: 100px;
    border-radius: 8px;
    padding: 0 22px;
}
.img-1 {
    width: 390px;
    height: 390px;
    margin-top: 35px;
}
.home__grid-item-h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: var(--color-link);
    margin-bottom: 15px;
}
.home__grid-item-p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
    margin-bottom: 20px;
}
.home__grid-item-button {
    width: 218px;
    height: 60px;
    border-radius: 5px;
    background-color: var(--color-link);
}
.home__grid-item-button-p {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.item-2 {
    min-height: 531px;
    height: 100px;
    border-radius: 8px;
    padding: 0 22px;
}
.img-2 {
    padding-left: 70px;
}
.item-3 {
    min-height: 531px;
    height: 100px;
    border-radius: 8px;
    padding: 0 22px;
}
.item-4 {
    grid-area: 2 / 2 / 3 / 4;
    min-height: 343px;
    height: 100px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
    padding-top: 64px;
}
@media screen and (max-width: 1360px) {

}
/* About */
.about {
    margin-top: 252px;
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 194px;
}
.about__grid-item-h {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000;
    margin-bottom: 23px;
}
.about__grid-item-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    margin-bottom: 38px;
}
.about__grid-item__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.about__grid-item__grid-item-numb {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #2A3246;
    text-align: center;
}
.about__grid-item__grid-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    text-align: center;
}
@media screen and (max-width: 1360px) {

}
/* Pricing */
.pricing {
    margin-top: 188px;
}
.pricing__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.pricing__grid-item {
    margin-top: 83px;
}
.pricing__grid-item-img-1 {
    margin: 0 auto;
    margin-bottom: 42px;
}
.pricing__grid-item-img-2 {
    margin: 0 auto;
    margin-bottom: 71px;
}
.pricing__grid-item-img-3 {
    margin: 0 auto;
    margin-bottom: 13px;
}
.pricing__grid-item-h {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: #263238;
    margin-bottom: 23px;
}
.pricing__grid-item-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
}
.pricing__grid-item-flex {
    margin-top: 59px;
    display: flex;
    padding-left: 18px;
    padding-right: 24px;
    justify-content: space-between;
    width: 240px;
    height: 45px;
    background-color: var(--color-pay);
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}
.pricing__grid-item-flex-1 {
    display: flex;
    padding-left: 18px;
    padding-right: 24px;
    justify-content: space-between;
    width: 240px;
    height: 45px;
    background-color: var(--color-pay);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 29px;
    align-items: center;
}
.pricing__grid-item-flex-numb {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #263238;
}
.pricing__grid-item-flex-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #546269;
}

@media screen and (max-width: 1360px) {

}
/* Contacts */
.contacts__flex {
    display: flex;
    align-items: center;
    margin-top: 261px;
}
.contacts__flex-img {
    margin-right: 111px;
    width: 429px;
    height: 477px;
}
.contacts__flex-item-h {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 37px;
}
.contacts__flex-item-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    margin-bottom: 50px;
}
.contacts__flex-item-flex {
    display: flex;
}
.contacts__flex-item-input {
    width: 450px;
    height: 80px;
    border: 1px solid #8F95A5;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
}
.contacts__flex-item-button {
    width: 264px;
    height: 80px;
    background-color: var(--color-link);
    border-radius: 8px;
    margin-left: 12px;
    cursor: pointer;
}
.contacts__flex-item-button-h {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

@media screen and (max-width: 1360px) {

}
/* Footer */
footer {
    margin-top: 133px;
    height: 149px;
}
.footer__flex {
    border-top: 1px solid #C4C4C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 149px;
}
.footer__flex-img {

}
.footer__flex-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
}

@media screen and (max-width: 1360px) {

}