/* Normalize */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* Variables */
:root {
    --color-link: #263238;
    --color-p: #8F95A5;
    --color-grid: #F5F5F5;
    --color-pay: #EEE;
}
/* Overall Width */
.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}
/* Header */
header {
    background-color: #fff;
    margin: 0 auto;
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0px;
    z-index: 2;
}
.header__nav {
    padding: 51px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 518px;
}
.header__nav-grid-a {
    color: var(--color-link);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
}
.header__nav-grid-a :hover {
    background-color: #ed0000;
}
.header__nav-button {
    width: 220px;
    height: 70px;
    background-color: #fff;
    border: 1px solid var(--color-link);
    border-radius: 3px; 
    cursor: pointer;
}
.button {
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
@media screen and (max-width: 1360px) {

}
/* Home */
.home {
    padding-top: 178px;
}
.home__flex {
    display: flex;
    align-items: center;
}
.hime__flex-item {
    width: 560px;
}
.home__flex-flex {
    display: flex;
    align-items: center;
}
.home__flex-flex-h {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 40px;
}
.home__flex-flex-img {
    padding: 28px 17px 0 0;
}
.home__flex-p {
    color: var(--color-p);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 61px;
}
.home__flex-button {
    width: 438px;
    height: 118px;
    background-color: var(--color-link);
    border-radius: 15px;
    cursor: pointer;
}
.home__flex-button-h {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
}
.home__flex-img {
    padding-left: 119px;
}

@media screen and (max-width: 1360px) {

}
/* Scills */

@media screen and (max-width: 1360px) {

}
/* About */

@media screen and (max-width: 1360px) {

}
/* Pricing */

@media screen and (max-width: 1360px) {

}
/* Contacts */

@media screen and (max-width: 1360px) {

}
/* Footer */

@media screen and (max-width: 1360px) {

}