/* Normalize */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body, h1, h2, h3, h4, h5, p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* Variables */
:root {
    --color-link: #263238;
    --color-p: #8F95A5;
    --color-grid: #F5F5F5;
    --color-pay: #EEE;
}
/* Overall Width */
.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}
/* Header */
.modal {
    border-radius: 20px;
}
.modal-footer {
    text-align: center;
}
header {
    margin: 0 auto;
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0px;
    z-index: 2;
}
.header__nav {
    padding: 51px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 750px;
    width: 100%;
}
.header__nav-grid-a {
    color: var(--color-link);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}
.header__nav-button {
    width: 220px;
    height: 70px;
    background-color: #fff;
    border: 1px solid var(--color-link);
    border-radius: 5px; 
    cursor: pointer;
}
.header__nav-button :hover {
    background-color: var(--color-link);
    color: #fff;
    border-radius: 5px; 
}
.header__nav-button-h {
    width: 220px;
    height: 70px;
    padding-top: 17px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.header__nav-burger {
    display: none;
    width: 30px;
    height: 17px;
}
.header__nav-burger-line {
    background-color: #39515E;
    width: 30px;
    height: 3px;
    margin-bottom: 4px;
}
.header__nav-burger-line-min {
    background-color: #39515E;
    width: 21px;
    height: 3px;
}
.drag-target {
    width: 0;
}
@media screen and (max-width: 1360px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 1320px) {
    .header__nav-grid-a {
        font-size: 16px;
        line-height: 24px;
    }
    .header__nav-grid {
        width: 414px;
    }
    .header__nav-button, .header__nav-button-h {
        width: 160px;
        height: 50px;
        font-size: 18px;
        line-height: 27px;
    }
    .header__nav-button-h {
        padding-top: 11px;
    }
    .header__nav-img {
        width: 89px;
        height: 30px;
    }
    .header__nav {
        padding: 30px 0;
    }
}
@media screen and (max-width: 926px) {
    .header__nav-grid, .header__nav-button {
        display: none;
    }
    .header__nav-burger {
        display: block;
    }
    .header__nav {
        padding: 20px 0;
    }
}
@media screen and (max-width: 320px) {
    .header__nav-img {
        width: 79px;
        height: 25px;
    }
    .header__nav {
        padding: 10px 0;
    }
}
/* Home */
.home {
    padding-top: 178px;
}
.home__flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.home__flex-item {
    width: 560px;
}
.home__flex-flex {
    display: flex;
    align-items: center;
}
.home__flex-flex-h {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 40px;
}
.home__flex-flex-img {
    padding: 28px 17px 0 0;
}
.home__flex-p {
    color: var(--color-p);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 61px;
}
.home__flex-button {
    width: 438px;
    height: 118px;
    background-color: var(--color-link);
    border-radius: 15px;
    cursor: pointer;
}
.home__flex-button-h {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
}
.home__flex-img {
    padding-left: 19px;
    width: 661px;
    height: 661px;
}

@media screen and (max-width: 1320px) {
    .home__flex-img {
        width: 460px;
        height: 460px;
    }
    .home__flex-item {
        width: 459px;
    }
    .home {
        padding-top: 130px;
    }
    .home__flex-flex-h {
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 27px;
        max-width: 290px;
        width: 100%;
    }
    .home__flex-p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 33px;
    }
    .home__flex-button {
        width: 292px;
        height: 80px;
    }
    .home__flex-button-h {
        font-size: 24px;
        line-height: 36px;
    }
    .home__flex-flex-img {
        width: 59px;
        height: 59px;
        padding: 0;
    }
}
@media screen and (max-width: 926px) {
    
    .home__flex-img {
        width: 460px;
        height: 460px;
        padding: 0;
    }
    .home__flex-item {
        width: 341px;
        margin: 0 auto;
    }
    .home {
        padding-top: 110px;
    }
    .home__flex-flex-h {
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 27px;
        max-width: 218px;
    }
    .home__flex-p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 33px;
    }
    .home__flex-button {
        width: 236px;
        height: 65px;
    }
    .home__flex-button-h {
        font-size: 18px;
        line-height: 27px;
    }
    .home__flex-flex-img {
        width: 50px;
        height: 50px;
    }

}
@media screen and (max-width: 820px) {
    .home__flex-img {
        width: 424px;
        height: 424px;
        margin: 0 auto;
    }
    .home__flex-item {
        max-width: 491px;
        width: 100%;
        grid-row-start: 2;
    }
    .home__flex {
        grid-template-columns: repeat(1, 2fr);
    }
    .home {
        padding-top: 90px;
    }
    .home__flex-flex-img {
        display: none;
    }
    .home__flex-flex {
        justify-content: center;
    }
    .home__flex-flex-h {
        font-size: 34px;
        line-height: 45px;
        text-align: center;
    }
    .home__flex-p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .home__flex-button {
        display: block;
        margin: 0 auto;
        width: 305px;
        height: 75px;
    }
    .home__flex-button-h {
        font-size: 18px;
        line-height: 27px;
    }
}
@media screen and (max-width: 500px) {
    .home__flex-img {
        width: 299px;
        height: 299px;
    }
    .home {
        padding-top: 70px;
    }
    .home__flex-flex-h {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .home__flex-p {
        font-size: 14px;
        line-height: 21px;
    }
    .home__flex-button {
        width: 289px;
        height: 60px;
    }
    .home__flex-button-h {
        font-size: 16px;
        line-height: 24px;
    }
}
/* Scills */
.skills-h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000;
    text-align: center;
    margin-top: 100px;
}
.home__grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 18px;
    margin-top: 96px;
    max-width: 1320px;
    width: 100%;
}
.home__grid-item {
    background-color: var(--color-grid);
}
.item-1 {
    grid-row: 1 / 3;
    border-radius: 8px;
    padding: 0 22px;
}
.img-1 {
    height: 390px;
    width: 390px;
    margin-top: 35px;
}
.home__grid-item-h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: var(--color-link);
    margin-bottom: 15px;
}
.home__grid-item-p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
    margin-bottom: 20px;
}
.home__grid-item-button {
    max-width: 218px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color: var(--color-link);
}
.home__grid-item-button-p {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.item-2 {
    height: 531px;
    border-radius: 8px;
    padding: 0 22px;
}
.img-2 {
    padding-left: 70px;
    width: 293px;;
    height: 293px;
}
.img-3 {
    width: 371px;
    height: 247px;
}
.img-4 {
    width: 382px;
    height: 255px;
}
.item-3 {
    height: 531px;
    border-radius: 8px;
    padding: 0 22px;
}
.item-4 {
    grid-area: 2 / 2 / 3 / 4;
    height: 343px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 0 22px;
    padding-top: 64px;
}
@media screen and (max-width: 1330px) {
    .img-1 {
        width: 260px;
        height: 260px;
    }
    .img-2 {
        width: 205px;
        height: 205px;
    }
    .img-3 {
        width: 243px;
        height: 162px;
    }
    .img-4 {
        width: 254px;
        height: 169px;
    }
    .home__grid-item-h3 {
        font-size: 22px;
        margin-bottom: 0;
    }
    .home__grid-item-p {
        font-size: 14px;
        line-height: 21px;
    }
    .home__grid-item-button {
        max-width: 196px;
        height: 57px;
    }
    .home__grid-item-button-p {
        font-size: 18px;
        line-height: 27px;
    }
    .item-1 {
        height: 696px;
    }
    .item-2, .item-3 {
        height: 441px;
    }
    .item-4 {
        height: 235px;
        padding-top: 7px;
    }
}
@media screen and (max-width: 926px) {
    .img-1 {
        width: 214px;
        height: 214px;
    }
    .img-2 {
        width: 200px;
        height: 200px;
    }
    .img-3 {
        width: 216px;
        height: 144px;
    }
    .img-4 {
        width: 202px;
        height: 134px;
    }
    .home__grid-item-h3 {
        font-size: 20px;
    }
    .home__grid-item-p {
        font-size: 13px;
    }
    .home__grid-item-button {
        max-width: 178px;
        height: 50px;
    }
    .home__grid-item-button-p {
        font-size: 16px;
        line-height: 24px;
    }
    .p4 {
        margin-bottom: 21px;
    }
}
@media screen and (max-width: 820px) {
    .img-1 {
        width: 185px;
        height: 185px;
    }
    .img-2 {
        width: 182px;
        height: 182px;
    }
    .img-3 {
        width: 198px;
        height: 132px;
    }
    .img-4 {
        width: 206px;
        height: 137px;
        grid-row: 1 / 2;
    }
    .home__grid-item-h3 {
        font-size: 18px;
    }
    .home__grid-item-p {
        font-size: 12px;
    }
    .home__grid-item-button {
        max-width: 200px;
        height: 50px;
    }
    .home__grid-item-button-p {
        font-size: 14px;
        line-height: 21px;
    }
    .item-4 {
        grid-template-columns: repeat(1, 2fr);
        
    }
    .home__grid {
        grid-template-columns: repeat(2, 2fr);
        justify-items: center;
    }
    .item-1 {
        grid-row: 1 / 2;
    }
    .item-4 {
        grid-column: 2 / 3;
    }
    .item-1, .item-2, .item-3, .item-4 {
        width: 240px;
        height: 534px;
    }
    .b2 {
        margin-top: 122px;
    }
    .b3 {
        margin-top: 173px;
    }
    .p4 {
        margin-bottom: 199px;
    }
}
@media screen and (max-width: 500px) {
    .p4 {
        margin-bottom: 199px;
    }
    .home__grid {
        display: block;
        margin: 0;
    }
    .p4 {
        margin-bottom: 199px;
    }
    .item-1, .item-2, .item-3, .item-4 {
        margin: 20px auto 0 auto;
    }
}
/* About */
.about {
    margin-top: 252px;
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.about__grid-item-h {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000;
    margin-bottom: 23px;
}
.about__grid-item-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    margin-bottom: 38px;
}
.about__grid-item__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.about__grid-item__grid-item-numb {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #2A3246;
    text-align: center;
}
.about__grid-item__grid-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    text-align: center;
}
.about-h {
    display: none;
}
.contacts-h {
    display: none;
}
@media screen and (max-width: 1330px) {
    .about__grid-items {
        max-width: 849px;
        width: 100%;
    }
    .about__grid-item-h { 
        font-size: 36px;
    }
    .about__grid-item-p {
        font-size: 16px;
    }
    .about__grid-item__grid-item-numb {
        font-size: 30px;
    }
    .about__grid-item__grid-item-text {
        font-size: 16px;
    }
    .about__grid-img {
        width: 336px;
        height: 336px;
    }
}
@media screen and (max-width: 926px) {
    .about {
        margin-top: 100px;
    }
    .about__grid-item-h { 
        font-size: 30px;
    }
    .about__grid-item-p {
        font-size: 14px;
        line-height: 21px;
    }
    .about__grid-item__grid-item-numb {
        font-size: 22px;
    }
    .about__grid-item__grid-item-text {
        font-size: 13px;
        line-height: 20px;
    }
    .about__grid-img {
        width: 295px;
        height: 295px;
    }
}
@media screen and (max-width: 820px) {
    .about__grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .about__grid-item-h { 
        display: none;
    }
    .about-h {
        display: block;
    }
    .about__grid-item-p {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
    .about__grid-item__grid-item-numb {
        font-size: 24px;
    }
    .about__grid-item__grid-item-text {
        font-size: 14px;
        line-height: 21px;
    }
    .about__grid-img {
        grid-row-start: 1;
        width: 352px;
        height: 352px;
    }
}
@media screen and (max-width: 500px) {
    .home__grid-item{
        width: 290px;
    }
    .about__grid-item-h { 
        font-size: 24px;
    }
    .about__grid-item-p {
        font-size: 13px;
    }
    .about__grid-item__grid-item-numb {
        font-size: 24px;
    }
    .about__grid-item__grid-item-text {
        font-size: 15px;
    }
    .about__grid-img {
        width: 283px;
        height: 283px;
    }
    .about__grid-item__grid {
        grid-template-columns: repeat(1, 3fr);
    }
}
/* Pricing */
.pricing {
    margin-top: 188px;
}
.pricing__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}
.pricing__grid-item {
    margin-top: 83px;
}
.pricing__grid-item-img-1 {
    margin: 0 auto;
    margin-bottom: 42px;
}
.pricing__grid-item-img-2 {
    margin: 0 auto 71px auto;
}
.pricing__grid-item-img-3 {
    margin: 0 auto;
    margin-bottom: 13px;
}
.pricing__grid-item-h {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: #263238;
    margin-bottom: 23px;
}
.pricing__grid-item-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
}

.pricing__grid-item-flex-3 {
    margin-top: 59px;
    display: flex;
    padding-left: 18px;
    padding-right: 24px;
    justify-content: space-between;
    width: 240px;
    height: 45px;
    background-color: var(--color-pay);
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}
.pricing__grid-item-flex-2 {
    margin-top: 59px;
    display: flex;
    padding-left: 18px;
    padding-right: 24px;
    justify-content: space-between;
    width: 240px;
    height: 45px;
    background-color: var(--color-pay);
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}
.pricing__grid-item-flex-1 {
    display: flex;
    padding-left: 18px;
    padding-right: 24px;
    justify-content: space-between;
    width: 240px;
    height: 45px;
    background-color: var(--color-pay);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 29px;
    align-items: center;
}
.pricing__grid-item-flex-numb {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #263238;
}
.pricing__grid-item-flex-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #546269;
}

@media screen and (max-width: 1330px) {
    .pricing__grid-item, .pricing__grid-item-1 {
        max-width: 330px;
        width: 100%;
    }
    .pricing__grid-item-img-1 {
        width: 222px;
        height: 222px;
    }
    .pricing__grid-item-img-2 {
        width: 267px;
        height: 195px;
    }
    .pricing__grid-item-img-3 {
        width: 242px;
        height: 242px;
    }
    .pricing__grid-item-h {
        font-size: 22px;
        line-height: 34px;
    }
    .pricing__grid-item-p {
        font-size: 16px;
        line-height: 24px;
    }
    .pricing__grid-item-flex-1  {
        margin-top: 35px;
    }
    .pricing__grid-item-flex-2 {
        margin-top: 57px;
    }
    .pricing__grid-item-flex-3 {
        margin-top: 68px;
    }
    .pricing__grid-item-flex-numb {
        font-size: 24px;
        line-height: 36px;
    }
    .pricing__grid-item-flex-text {
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 944px) {
    .pricing__grid-item-img-1 {
        width: 197px;
        height: 197px;
    }
    .pricing__grid-item-img-2 {
        width: 219px;
        height: 168px;
    }
    .pricing__grid-item-img-3 {
        width: 210px;
        height: 210px;
    }
    .pricing__grid-item-h {
        font-size: 20px;
        line-height: 28px;
    }
    .pricing__grid-item-p {
        font-size: 14px;
        line-height: 21px;
    }
    .pricing__grid-item-flex-1  {
        margin-top: 35px;
    }
    .pricing__grid-item-flex-2 {
        margin-top: 57px;
    }
    .pricing__grid-item-flex-3 {
        margin-top: 68px;
    }
    .pricing__grid-item-flex-numb {
        font-size: 22px;
        line-height: 33px;
    }
}
@media screen and (max-width: 828px) {
    .pricing__grid-item-h {
        font-size: 24px;
        line-height: 28px;
    }
    .pricing__grid-item-p {
        font-size: 16px;
        line-height: 24px;
    }
    .pricing__grid {
        max-width: 422px;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin: 0 auto;
    }
    .pricing__grid-item {
        margin-top: 40px;
    }
    .pricing__grid-item-img-1 {
        width: 291px;
        height: 291px;
        margin: 0 auto;
        display: block;
    }
    .pricing__grid-item-img-2 {
        width: 314px;
        height: 241px;
        margin: 0 auto;
        display: block;
    }
    .pricing__grid-item-img-3 {
        width: 253px;
        height: 253px;
        margin: 0 auto;
        display: block;
    }
    .pricing__grid-item-h {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    .pricing__grid-item-p {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
    .pricing__grid-item-flex-1, .pricing__grid-item-flex-2, .pricing__grid-item-flex-3  {
        margin: 35px auto 0 auto;
        width: 205px;
        height: 45px;
    }
    .pricing__grid-item-flex-numb {
        font-size: 24px;
        line-height: 36px;
    }
        .pricing__grid-item-flex-text {
        font-size: 14px;
    }
}
/* Contacts */
.contacts__flex {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 261px;
}
.contacts__flex-img {
    margin-right: 111px;
    width: 429px;
    height: 477px;
}
.contacts__flex-item-h {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 37px;
}
.contacts__flex-item-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    margin-bottom: 50px;
}
.contacts__flex-item-flex {
    display: flex;
}
.contacts__flex-item-input, input[type=email]:not(.browser-default) {
    max-width: 450px;
    width: 100%;
    height: 80px;
    border: 1px solid #8F95A5;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-left: 20px;
}
.contacts__flex-item-button {
    max-width: 264px;
    width: 100%;
    height: 80px;
    background-color: var(--color-link);
    border-radius: 8px;
    margin-left: 12px;
    cursor: pointer;
}
.contacts__flex-item-button-h {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
@media screen and (max-width: 1305px) {
    .contacts__flex {
        margin-top: 130px;
    }
    .contacts__flex-img {
        width: 312px;
        height: 281px;
    }
    .contacts__flex-item-h {
        font-size: 36px;
        line-height: 80px;
    }
    .contacts__flex-item-p {
        font-size: 16px;
        line-height: 24px;
    }
    .contacts__flex-item-input, input[type=email]:not(.browser-default) {
        max-width: 323px;
        height: 60px;
    }
    .contacts__flex-item-button {
        max-width: 193px;
        height: 60px;
    }
    .contacts__flex-item-button-h {
        font-size: 16px;
        line-height: 24px;
    }
    .contacts__flex-item {
        max-width: 432px;
        width: 100%;
    }
}
@media screen and (max-width: 830px) {
    .contacts__flex-img {
        width: 233px;
        height: 210px;
    }
    .contacts__flex-item-h {
        font-size: 30px;
        line-height: 80px;
    }
    .contacts__flex-item-p {
        font-size: 14px;
        line-height: 21px;
    }
    .contacts__flex-item-input, input[type=email]:not(.browser-default) {
        max-width: 283px;
        height: 50px;
    }
    .contacts__flex-item-button {
        max-width: 145px;
        height: 50px;
    }
    .contacts__flex-item-button-h {
        font-size: 13px;
        line-height: 20px;
    }
}
@media screen and (max-width: 700px) {
    .contacts__flex{
        display: block;
        margin-top: 0;
    }
    .contacts__flex-img {
        max-width: 358px;
        width: 100%;
        height: 322px;
        display: block;
        margin: 0 auto;
    }
    .contacts__flex-item {
        margin: 0 auto;
    }
    .contacts__flex-item-h {
        display: none;
    }
    .contacts-h {
        display: block;
        font-size: 30px;
        line-height: 80px;
        text-align: center;
        margin-top: 70px;
    }
    .contacts__flex-item-p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .contacts__flex-item-input, input[type=email]:not(.browser-default) {
        max-width: 318px;
        height: 60px;
    }
    .contacts__flex-item-button {
        width: 193px;
        height: 60px;
    }
    .contacts__flex-item-button-h {
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 500px) {
    .contacts__flex-item-flex {
        display: block;
        text-align: center;
    }
    .contacts__flex-item-button {
        margin: 5px auto 0 auto;
        display: block;
        max-width: 318px;
    }
}
/* Footer */
footer {
    margin-top: 133px;
    height: 149px;
}
.footer__flex {
    border-top: 1px solid #C4C4C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 149px;
}
.footer__flex-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
}

@media screen and (max-width: 992px) {
    .footer__flex-img {
        width: 89px;
        height: 35px;
    }
    .footer__flex-text {
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 767px) {
    .footer__flex-text {
        font-size: 13px;
        line-height: 20px;
    }
}
@media screen and (max-width: 575px) {
    .footer__flex-text {
        font-size: 12px;
        line-height: 18px;
    }
}
@media screen and (max-width: 500px) {
    .footer__flex {
        display: block;
    }
    .footer__flex-text {
        text-align: center;
        margin-top: 24px;
    }
    .footer__flex-img {
        margin: 36px auto 0 auto;
        display: block;
    }
}